<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <header>    
        <a href = '{% url 'blog:create' %}'><button>Create blog</button></a>
        <a href = '{% url 'blog:index' %}'><button>List all blogs</button></a>
    </header>
    <br><br>
    
    <p>Blog title : {{blog.name}}</p>
    <p>Blog's creation date : {{blog.creation_date}}</p>
    <p>Blog's content :</p>
    <p>{{blog.content}}</p>
    
    <a href = '{% url 'blog:update' item_id=blog.id %}'><button>Update Blog</button></a>
</body>
</html>